class Settings:
    def __init__(self):
        self.LIMS_ROOT_URL="https://igolims.mskcc.org:8443/LimsRest/api"
        #
        # DO NOT CHANGE THE ABOVE VARIABLE
        #
        # Set LIMS_USERNAME & LIMS_PASSWORD to
        # valid values.
        #
        self.LIMS_USERNAME="USERNAME"
        self.LIMS_PASSWORD="PASSWORD"

settings=Settings()

